<div>
    <h1>Lista de productos</h1>
        
        <% if (products.length > 0) { %>
        
            <table>
                <tr>
                    <th>#ID</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Imagen</th>
                </tr>
                <% products.forEach(function(product){ %>
                    <tr>
                        <td><%= product.id %></td>
                        <td><%= product.title %></td>
                        <td><%= product.price %></td>
                        <td><%= product.thumbnail %></td>
                    </tr>
                <%}) %>
            </table>
            
            <%} else { %>
            
            <p> No hay productos en la lista </p>
            
        <% } %>
</div>
